@font-face {
    font-family: "Heartbreaking";
    src: url("../font/Heartbreaking.otf") format('opentype');
}

@font-face {
    font-family: "Yoru-aka";
    src: url("../font/yoru_aka.ttf") format('truetype');
}


h1{
    font-family: "Heartbreaking";
    color:rgb(92, 83, 72);
    font-size: 80px;
}

h2{
    font-size: 35px;
    font-family: "Yoru-aka";
    text-align: center;
    color: rgb(77, 73, 69);
}

h3{
    font-size: 30px;
    text-align: center;
    color: rgb(77, 73, 69);
}

a{
    text-decoration: inherit;
    color: inherit;
}

header{
    text-align: center;
}

input{
    background-color: rgb(48, 42, 42);
    border-radius: 5%;
    font-size: 16px;
    border-color: rgb(39, 69, 45);
}

input, select, textarea{
    color: #e0cfcf;
    font-family: "Heartbreaking";
    font-size: 25px;
}

#searchButton, #generateRandomCharacterButton, #getAllCharactersButton{
    color: rgb(255, 254, 248);
    font-family: "Yoru-aka";
    font-size: 19px;
}

#searchButton{
    background-color:  rgb(29, 59, 47);
}

#generateRandomCharacterButton{
    background-color:  rgb(44, 75, 44);
}

#getAllCharactersButton{
    background-color:  rgb(52, 94, 54);
}

p{
    font-family: "Yoru-aka";
    text-align: center;
    color: rgb(77, 73, 69);
}

img{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url(../img/1.jpg);
    background-position-y: 220px;
    background-size: 1920px;
    background-repeat: no-repeat;
    background-color: #c2b8b8;
}

article{
    margin-bottom: 150px;
}