*{
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
  }

header, section, footer, aside{
    color: blanchedalmond;
    background-image: url("C:/Users/Lenovo/Documents/Front-End 2021/Föreläsning 3 - Övning - Enkel hemsida/Image/moroccan-flower-dark.png");
}


#container{
    width: 960px;
    height: 2500px;
    border: 1px solid black;
    margin: 20px auto;
}

header{
    background-color: rgb(76, 76, 221);
    height: 150px;
    border-bottom: 1px solid black;
}

#header-title{
    display: block;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

#nav-container{
    float: right;
    width: 327px;
}

#header-nav{
    position: fixed;
}

#header-nav ul li{
    float: left;
    list-style-type: none;
}

#header-nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 10px;
}

#header-nav li a:hover{
    background-color: rgba(165, 116, 42, 0.35);
}

#dropdown{
    position: relative;
    /*margin-bottom: 20px;*/
}

#dropdown-content{
    position: absolute;
    width: 100px;
    padding: 0;
    display: none;
    top: 25px;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content li{
    padding: 10px 0;
}

main{
    background-color: blueviolet;
    display: block;
    width: 959px;
}

aside{
    /*display: inline-block;*/
    height: 800px;
    width: 200px;
    float: left;

}

section{
    /*display: inline-block;*/
    background-color: rgb(180, 135, 68);
    height: 800px;
    width: 759px;
    float: left;
}

#side-nav ul li{
    list-style-type: none;
}

#side-nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    display: inline-block;
    padding: 5px;
}

#side-nav li a:hover{
    background-color: rgba(165, 116, 42, 0.35);
}

#side-dropdown{
    position: relative;
}

#side-dropdown-content{
    display: none;
    padding-left: 20px;
    position: absolute;
}

#side-dropdown:hover #side-dropdown-content{
    display: inline-block;
}

h1{
    font-family:monospace;
    font-size: 40px;
}

img{
    margin-right: 20px;
    height: 400px;
    width: 320px;
    float: left;
}

article p{
    font-size: 20px;
    margin-right: 20px;
}

form{
    border-style: inset;
    width: 500px;
    padding: 10px;
}

input[type="text"], input[type="email"], select, textarea{
    width: 95%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#radio-buttons{
    margin-bottom: 10px;
}

#radio-buttons input{
    margin: 7px;
}

input[type="submit"]{
    background-color: rgb(189, 79, 79);
}

#gridscontainer{
    display: grid;
    background-image: url("C:/Users/Lenovo/Documents/Front-End 2021/Föreläsning 3 - Övning - Enkel hemsida/Image/moroccan-flower-dark.png");
    width: 759px;
    height: 900px;
    grid-template-rows: repeat(4, 18%);
    grid-template-columns: 3% 94% 3%;
    padding: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cv1 img{
    width: 175px;
    height: 59px;
}

#cv2 img, #cv4 img{
    width: 100px;
    height: 100px;
    float: right;
    margin: 0 0 0 20px;
}

#cv3 img{
    width: 150px;
    height: 84px;
}

#cv1, #cv3{
    grid-column: 2 / 4;
}

#cv2, #cv4{
    grid-column: 1 / 3;
}

#gridscontainer > div{
    border: 3px inset rgb(165, 116, 42);
    padding: 10px;
    margin: 10px;
}

#gridscontainer > div > div{
    display: grid;
    grid-template-rows: 75%;
    grid-template-columns: 100%;
    border: 1px dotted rgb(48, 177, 43);
    margin: 0;
}

#gridscontainer-2{
    display: grid;
    width: 759px;
    height: 900px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer"
    ;
}

#box1{
    grid-area: header;
    background-color: rgb(165, 116, 42);
}

#box2{
    grid-area: aside;
    background-color: rgb(180, 135, 68);
}

#box3{
    grid-area: main;
    background-color: rgb(48, 177, 43);
}

#box4{
    grid-area: footer;
    background-color: rgba(165, 116, 42, 0.35);
}

footer{
    background-color: brown;
    height: 100px;
    border: 1px solid black;
    display: block;
}
