*{
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
  }

header, section, footer, aside{
    color: blanchedalmond;
    background-image: url("C:/Users/Lenovo/Documents/Front-End 2021/Föreläsning 3 - Övning - Enkel hemsida/Image/moroccan-flower-dark.png");
}


#container{
    width: 960px;
    height: 1500px;
    border: 1px solid black;
    margin: 20px auto;
}

header{
    background-color: rgb(76, 76, 221);
    height: 150px;
    border-bottom: 1px solid black;
}

#header-title{
    display: block;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

#nav-container{
    float: right;
    width: 327px;
}

#header-nav{
    position: fixed;
}

#header-nav ul li{
    float: left;
    list-style-type: none;
}

#header-nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 10px;
}

#header-nav li a:hover{
    background-color: blue;
}

#dropdown{
    position: relative;
    /*margin-bottom: 20px;*/
}

#dropdown-content{
    position: absolute;
    width: 100px;
    padding: 0;
    display: none;
    top: 25px;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content li{
    padding: 10px 0;
}

main{
    background-color: blueviolet;
    display: block;
    height: 500px;
    width: 959px;
}

aside{
    /*display: inline-block;*/
    height: 800px;
    width: 200px;
    float: left;

}

section{
    /*display: inline-block;*/
    background-color: rgb(180, 135, 68);
    height: 800px;
    width: 759px;
    float: left;
}

#side-header-nav ul li{
    list-style-type: none;
}

#side-header-nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    display: inline-block;
    padding: 5px;
}

#side-header-nav li a:hover{
    background-color: blue;
}

#side-dropdown-content{
    display: none;
    padding-left: 20px;
}

#side-dropdown:hover #side-dropdown-content{
    display: inline-block;
}

h1{
    font-family:monospace;
    font-size: 40px;
}

img{
    margin-right: 10px;
}

article p{
    font-size: 20px;
    margin-right: 5px;
}

form{
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}

input[type="text"], input[type="email"] {
    width: 95%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}


#radio-buttons{
    margin: 10px;
}

footer{
    background-color: brown;
    height: 100px;
    border: 1px solid black;
    display: block;
}
