* {
	box-sizing: border-box;
}

:root{
	--extra-uppgift-färg: beige;
}

body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

#container{
	display: grid;
	width: 89%;
	margin: 0 auto;
	column-gap: 2.08%;
	row-gap: 20px;
}

footer{
	display: grid;
	border: 1px solid black;
	column-gap: 2.08%;
	row-gap: 20px;
	padding: 10px;
}

#container section, header, main, aside, footer{
	border: 1px solid black;
	min-height: 150px;
}

header{
	grid-area: header;
}

#box1{
	grid-area: box1;
}

#box2{
	grid-area: box2;
}

#box3{
	grid-area: box3;
}

main{
	grid-area: main;
}

aside{
	grid-area: sidebar;
}

footer{
	grid-area: footer;
}

#footer-section1{
	grid-area: footer-section1;
}

#footer-section2{
	grid-area: footer-section2;
}

#footer-section3{
	grid-area: footer-section3;
}

#footer-section4{
	grid-area: footer-section4;
}

/*Breda desktopskärmar*/
@media screen and (min-width: 1201px){
	
	#container{
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
		"main main main main main main main main main sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer"
		;
	}
	footer{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"footer-section1 footer-section2 footer-section3 footer-section4"
		;
	}
}

/*Mindre desktopskärmar*/
@media screen and (min-width: 960px) and (max-width: 1200px){ 
	
	#container{
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
	header{
		grid-column: 1 / 13;
		grid-row: 1 / 2;
	}

	#box1{
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}
	
	#box2{
		grid-column: 4 / 10;
		grid-row: 2 / 3;
	}

	#box3{
		grid-column: 10 / 13;
		grid-row: 2 / 3;
	}

	main{
		grid-column: 1 / 9;
		grid-row: 3 / 4;
	}

	aside{
		grid-column: 9 / 13;
		grid-row: 3 / 4;
	}

	footer{
		grid-column: 1 / 13;
		grid-row: 4 / 5;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}

	#footer-section1{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	#footer-section2{
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	#footer-section3{
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	#footer-section4{
		grid-column: 4 / 5;
		grid-row: 1 / 2;
	}
}

/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 959px){
	
	#container{
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
	}

	header{
		grid-column: 1 / span 6;
		grid-row: 1 / 2;
	}

	#box1{
		grid-column: 1 / span 2;
		grid-row: 2 / 3;
	}
	
	#box2{
		grid-column: 3 / span 2;
		grid-row: 2 / 3;
	}

	#box3{
		grid-column: 5 / span 2;
		grid-row: 2 / 3;
	}

	main{
		grid-column: 1 / span 3;
		grid-row: 3 / 4;
	}

	aside{
		grid-column: 4 / span 3;
		grid-row: 3 / 4;
	}

	footer{
		grid-column: 1 / span 6;
		grid-row: 4 / 6;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	#footer-section1{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	#footer-section2{
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	#footer-section3{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#footer-section4{
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

/*Mobiltelefoner*/
@media screen and (max-width: 767px){
	
	#container{
		grid-template-columns: [first] 1fr;
		grid-template-rows: auto;
	}

	header{
		grid-column: first / 2;
		grid-row: 1 / 2;
	}

	#box1{
		grid-column: first / 2;
		grid-row: 2 / 3;
	}
	
	#box2{
		grid-column: first / 2;
		grid-row: 3 / 4;
	}

	#box3{
		grid-column: first / 2;
		grid-row: 4 / 5;
	}

	main{
		grid-column: first / 2;
		grid-row: 5 / 6;
	}

	aside{
		grid-column: first / 2;
		grid-row: 6 / 7;
	}

	footer{
		grid-column: first / 2;
		grid-row: 7 / 11;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	#footer-section1{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	#footer-section2{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#footer-section3{
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	#footer-section4{
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}
}

header{
	background-color: var(--extra-uppgift-färg);
	display: flex;
	height: 100%;
	align-items: center;
	padding: 2.5%;
}

.header-buttons{
	margin: 0px 30px;
	/*flex-basis: 30px;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	height:20px;*/
}

#button4{
	margin-left: auto;
}

aside{
	background-color: var(--extra-uppgift-färg);
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-content: space-between;
	row-gap: 10px;
	padding: 6% 6% 9% 6%;
}

main{
	background-color: var(--extra-uppgift-färg);
	display: flex;
	flex-wrap: wrap;
	padding: 1.5%;
	column-gap: 1.5%;
	row-gap: 10px;
}

main section{
	flex-basis: 310px;
	flex-grow: 1;
	flex-shrink: 1;
}
