#container{
    width: 960px;
    background-color: rgb(165, 165, 49);
    /*height: 600px;*/
    border: 1px solid black;
    margin: auto;
}
#header{
    background-color: skyblue;
    height: 100px;
    margin-bottom: 10px;
}
/*#content{
    background-color: springgreen;
    height: 300px;
}*/
#sidebar{
    width: 20%;
    background-color: tan;
    height: 300px;
    display: inline-block;
}
#main-content{
    width: 79%;
    background-color: teal;
    height: 300px;
    display: inline-block;
}
#footer{
    background-color: steelblue;
    height: 100px;
    margin-top: 10px;
}
#boxes{
    margin: 10px;
}
.box{
    background-color: tomato;
    width: 33%;
    height: 100px;
    display: inline-block;
    border-radius: 10%;
}